logs/
npm-debug.log
package-lock.json
node_modules/
coverage/
.idea/
run/
logs/
.DS_Store
*.swp
*.lock
*.js

app/**/*.js
test/**/*.js
config/**/*.js
app/**/*.map
test/**/*.map
config/**/*.map

typings/app/**/*.ts
typings/config/**/*.ts
codegen/dist/**/*.ts
